input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #005050;
}
