/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bg.jgp.jpg') no-repeat center center/cover;
    text-align: center;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

.btn {
    background-color: #ff9800;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e68900;
}
